{% extends 'base.html' %}

{% block title %}문제 은행 - Start ideabank{% endblock %}

{% block content %}
    
    <!-- Problem Bank Search Section-->
    <section class="py-5 bg-light" id="problem-search-section">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Explore Problems</h2>
                <p class="lead fw-normal text-muted mb-5">Find problems by category, difficulty, tags, or keywords</p>
            </div>
            <!-- Problem Search Form-->
            <form id="problem-search-form" method="get" action="{% url 'question_bank' %}">
                <div class="row gx-5">
                    <div class="col-md-6 mb-3">
                        <label for="difficultySelect" class="form-label">Difficulty</label>
                        <select id="difficultySelect" class="form-select" name="difficulty">
                            <option value="" selected>Any Difficulty</option>
                            {% for rating in rating_range %}
                                <option value="{{ rating }}" {% if difficulty == rating|stringformat:"d" %}selected{% endif %}>{{ rating }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="tagInput" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="tagInput" name="tags" placeholder="Enter tags (e.g., algebra, arrays)" value="{{ tags }}" />
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                </div>
            </form>
            <!-- Problem List dynamically filled-->
            <div id="problem-list" class="mt-5">
                {% for problem in problems %}
                    <div class="problem-item border p-4 mb-3 rounded">
                        <h5 class="fw-bolder">{{ problem.contestId }} - {{ problem.index }}: {{ problem.name }}</h5>
                        <p class="text-muted">Category: Programming | Difficulty: {{ problem.rating }}</p>
                        <p>{{ problem.tags|join:", " }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="https://codeforces.com/contest/{{ problem.contestId }}/problem/{{ problem.index }}" class="btn btn-link" target="_blank">View Problem</a>
                            <a href="{% url 'blog_creation' %}?contestId={{ problem.contestId }}&index={{ problem.index }}&name={{ problem.name }}&tags={{ problem.tags|join:',' }}" class="btn btn-secondary ml-auto">문제 풀기</a>

                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No problems found.</p>
                {% endfor %}
            </div>
            
            <!-- Pagination Section -->
            <nav aria-label="Problem Bank Pagination" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if problems.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ problems.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                        </li>
                    {% endif %}

                    {% for num in problems.paginator.page_range %}
                        {% if num > problems.number|add:'-5' and num < problems.number|add:'5' %}
                            {% if problems.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if problems.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ problems.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

{% endblock %}
